<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFf-eUFnq2QPi4qNocR2JVjivXmKHmMdc</string>
	<key>GCM_SENDER_ID</key>
	<string>495691273173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moo.chatapp</string>
	<key>PROJECT_ID</key>
	<string>cahtapp-2fd19</string>
	<key>STORAGE_BUCKET</key>
	<string>cahtapp-2fd19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495691273173:ios:f5dfddacf26761d7aee35c</string>
</dict>
</plist>